#body{
    align-content: center;
}

label{
    color: black;
    font-style: normal;
    font-weight: bolder;
}

br{
    border: solid;
    color: black;
}

table, td , tr{
    border: solid 2px;
    table-layout: auto;
}

th{
    border: solid 2px;
    width:1%;
    word-break: break-all;
}

hr{
    font-size: 20px;
}

row{
    align-content: center;
    padding: inherit;
}
.button{
    text-align: center;
    margin-left: 100px
}